<html>
  <style>
    body {
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <body>
    <div class="header-div">
        <h1>My Profile</h1>
        <p><a href="/">Back to Homepage</a></p>
    </div>
    <div class="user-info-div">
      <h2>My Information</h2>
        {% for n in userdata %}
          <p>Name: {{n.username}}</p>
          <p>Age: {{n.age}}</p>
          <p>ID: {{n.user_id}}</p>
        {% endfor %}
    </div>
    <div class="user-collections-div">
        <h2>My Collections</h2>
        <div>
            {% for n in collectiondata %}
            <div class="collection">
              <a href="{{url_for('collection', collection_id = n.collection_id)}}">{{n.name}}</a>
            </div>
            {% endfor %}
        </div>
    </div>
  </body>
</html>
