<html>
  <style>
    body {
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <body>
    <div class="header-div">
        <h1>{{title}}</h1>
        <p><a href="/">Back to Homepage</a></p>
    </div>
    <div class="book-container">
        <p class="book-author">{{author}}</p>
        <p class="book-description">{{description}}</p>
        <!-- <p class="book-rating">Rating</p> -->
        <p class="book-publish-date">{{date}}</p>
        <a href="{{url_for('review', book_id = book_id)}}">Review and Add to a Collection</a>
    </div>
    
  </body>
</html>