<html>
  <style>
    body {
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <body>
    <div class="header-div">
        <h1>Book Title</h1>
        <p><a href="/">Back to Homepage</a></p>
    </div>
    <div class="book-container">
        <p class="book-author">Book Author</p>
        <p class="book-description">Description</p>
        <p class="book-rating">Rating</p>
        <p class="book-publish-date">Date Published</p>
        <button>Review</button>
        <button>Add to Collection</button>
    </div>
    
  </body>
</html>