<html>
  <style>
    body {
      font-size: 15pt;
      font-family: arial;
    }
    .book-container{
        border: 1mm;
    }
  </style>

  <body>
    <div class="header-div">
        <h1>{{info[0][1]}}</h1>
        <p><a href="/user">Back to Profile</a></p>
    </div>
    <div class="collection-settings-div">
        <!-- <div class="sorting-div">
            <h2>Sort By:</h2>
            <button type="button">Alphabetically</button>
            <button type="button">Ratings</button>
            <button type="button">Date Read</button>
        </div>
        <p> </p> -->
        
        <!-- <button>Edit Collection Title</button> -->
        <a href="{{url_for('deletecollection', id = info[0][0])}}">Delete Collection</a>

    </div>
    <div class="collection-books-div">
        <div class="book-container">
          {% for bookinfo in bookdata %}
            <h3 class="book-title">
              {{bookinfo.title}}
            </h3>
            <p>
              <span class="book-author">Author: {{bookinfo.name}}</span><br>
              <span class="book-rating">Rating: {{bookinfo.rating}}</span><br>
              <span class="book-review">{{bookinfo.review}}</span><br>
            </p>
            <!-- <button>Edit Review</button> -->
            <a href="{{url_for('deletereview', id = bookinfo.user_book_id)}}">Delete from Collection</a>
          {% endfor %}
        </div>
    </div>
  </body>
</html>
