<html>
  <style>
    body {
      font-size: 15pt;
      font-family: arial;
    }
    .book-container{
        border: 1mm;
    }
  </style>

  <body>
    <div class="header-div">
        <h1>{{info[0][1]}}</h1>
        <p><a href="/user">Back to Profile</a></p>
    </div>
    <div class="collection-settings-div">
        <!-- <div class="sorting-div">
            <h2>Sort By:</h2>
            <button type="button">Alphabetically</button>
            <button type="button">Ratings</button>
            <button type="button">Date Read</button>
        </div>
        <p> </p> -->
        <button>Edit Collection Title</button>
        <form action="{{ url_for('deletecollection', id=info[0][1]) }}" method="DELETE">
          <input type="submit" value="Delete Collection">
        </form>

    </div>
    <div class="collection-books-div">
        <div class="book-container">
          {% for bookinfo in bookdata %}
            <h3 class="book-title">
              {{bookinfo.title}}
            </h3>
            <p class="book-author">{{bookinfo.name}}</p>
            <p class="book-rating">{{bookinfo.rating}}</p>
            <p class="book-review">{{bookinfo.review}}</p>
            <button>Edit Review</button>
            <button>Delete from Collection</button>
          {% endfor %}
        </div>
    </div>
  </body>
</html>
