<html>
  <style>
    body {
      font-size: 15pt;
      font-family: arial;
    }
    .book-container{
        border: 1mm;
    }
  </style>

  <body>
    <div class="header-div">
        <h1>Collection Name</h1>
        <p><a href="/user">Back to Profile</a></p>
    </div>
    <div class="collection-settings-div">
        <div class="sorting-div">
            <h2>Sort By:</h2>
            <button type="button">Alphabetically</button>
            <button type="button">Ratings</button>
            <button type="button">Date Read</button>
        </div>
        <button>Edit Collection Title</button>
        <button>Add Books to Collection</button>
    </div>
    <div class="collection-books-div">
        <div class="book-container">
            <h3 class="book-title">
              Book Title
            </h3>
            <p class="book-author">Book Author</p>
            <p class="book-rating">Rating</p>
            <p class="book-review">Review</p>
            <button>Edit Review</button>
            <button>Delete from Collection</button>
          </div>
    </div>
  </body>
</html>
