<html>
  <style>
    body {
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <script>
    document.getElementById("title_search").addEventListener("click", search())
    function tsearch(){
      let title = document.getElementById("title").value
      window.location = window.location.href + 'search/title/' + title
    }
    document.getElementById("author_search").addEventListener("click", search())
    function asearch(){
      let author = document.getElementById("author").value
      window.location = window.location.href + 'search/author/' + author
    }
  </script>


  <body>
    <div class="header-div">
      <h1>Great Reads</h1>
      <p><a href="user">My Profile</a></p>  
    </div>
    <div class="search-bar-div">
      <p>
        Search by title: <input type="text" name="name" id="title"/>
        <button id="title_search" onclick="tsearch()">Search</button>
      </p>
      <p>
        Search by author: <input type="text" name="name" id="author"/>
        <button id="author_search" onclick="asearch()">Search</button>
      </p>
    </div>
    <div class="featured-books-div">
      <h2>Popular Classics</h2>

      <div>
        <p>
          {% for n in data %}
          <div>{{n}}</div>
          {% endfor %}
        </p>
      </div>

      <h2>Popular Fantasy Books</h2>

      <h2>Popular Realistic Fiction Books</h2>
    </div>



  </body>
</html>
