<html>
  <style>
    body {
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <script>
   function search_title(search){
    console.log(search)
    $.ajax({
      type: "POST",
      url: "/search/title",
      dataType: "json",
      data: JSON.stringify(search),
      contentType: "application/json; charset=UTF-8",
      success: function(result){
        window.location.href = "/search/title" + search
      }
    })

    document.getElementById("title_search").onclick = function(){
      title = document.getElementById("title").value
      search_title(title)
    }
   }


  </script>

  <body>
    <div class="header-div">
      <h1>Great Reads</h1>
      <p><a href="user">My Profile</a></p>  
    </div>
    <div class="search-bar-div">
      <form action="/search">
        <p>
          Search by title: <input type="text" name="name" id="title"/>
          <button id="title_search">Search</button>
        </p>
        <p>
          Search by author: <input type="text" name="name" />
          <input type="submit" value="Search" />
        </p>
      </form>
    </div>
    <div class="featured-books-div">
      <h2>Popular Classics</h2>

      <div>
        <p>
          {% for n in data %}
          <div>{{n}}</div>
          {% endfor %}
        </p>
      </div>

      <h2>Popular Fantasy Books</h2>

      <h2>Popular Realistic Fiction Books</h2>
    </div>



  </body>
</html>
