<html>
  <style>
    body {
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <script>
    document.getElementById("title_search").onclick = function() {
      let title = document.getElementById("title").value
      console.log(title)
      let location = "/search/title/" + title
      console.log(location)
      location.href = location
    }
  </script>

  <body>
    <div class="header-div">
      <h1>Great Reads</h1>
      <p><a href="user">My Profile</a></p>  
    </div>
    <div class="search-bar-div">
      <form action="/search">
        <p>
          Search by title: <input type="text" name="name" id="title"/>
          <button id="title_search">Search</button>
        </p>
        <p>
          Search by author: <input type="text" name="name" />
          <input type="submit" value="Search" />
        </p>
      </form>
    </div>
    <div class="featured-books-div">
      <h2>Popular Classics</h2>

      <div>
        <p>
          {% for n in data %}
          <div>{{n}}</div>
          {% endfor %}
        </p>
      </div>

      <h2>Popular Fantasy Books</h2>

      <h2>Popular Realistic Fiction Books</h2>
    </div>



  </body>
</html>
