<html>
  <style>
    body {
      font-size: 15pt;
      font-family: arial;
    }
    .book:hover{
      cursor: pointer;
      color: purple;
    }
  </style>


  <script>
    //TODO: FIGURE OUT REDIRECTING
    document.getElementById("title_search").addEventListener("click", search())
    function tsearch(){
      let title = document.getElementById("title").value
      // location.href = window.location.host + 'search/title/' + title
      window.location.replace("/search/title/" + title)
    }
    document.getElementById("author_search").addEventListener("click", search())
    function asearch(){
      let author = document.getElementById("author").value
      // location.href = window.location.host + 'search/author/' + author
      window.location.replace("/search/author/" + author)
    }
    function load_book(title){
      window.location.replace("/book/" + title)
    }
    function sort(type){
      books = document.getElementsByClassName("book")
      book_string = ""
      for (let i=0; i<books.length; i++){
        book_string += "," + books[i].innerHTML
      }
      window.location.replace("/sort/" + type + "/" + book_string)
    }
  </script>

  <body>
    <div class="header-div">
        <h1>Search Results</h1>
        <p><a href="/">Back to Homepage</a></p>
    </div>
    <div class="search-bar-div">
      <p>
        Search by title: <input type="text" name="name" id="title"/>
        <button id="title_search" onclick="tsearch()">Search</button>
      </p>
      <p>
        Search by author: <input type="text" name="name" id="author"/>
        <button id="author_search" onclick="asearch()">Search</button>
      </p>
      <h2>Sort By: <button type="button" onclick="sort('ratings')">Ratings</button> <button type="button" onclick="sort('date')">Date Published</button></h2>
    </div>
    <div class="search-results-div">
        <div class="book-container">
          {% for n in titles %}
          <div class="book" onclick="load_book(this.innerHTML)">{{n}}</div>
          {% endfor %}
          </div>
    </div>
  </body>
</html>
