<html>
  <style>
    body {
      font-size: 15pt;
      font-family: arial;
    }
    .book-container{
        border: 1mm;
    }
  </style>

  <body>
    <div class="header-div">
        <h1>Search Results</h1>
        <p><a href="/">Back to Homepage</a></p>
    </div>
    <div class="search-bar-div">
        <form action="/search/">
            <p>
              Search for books: <input type="text" name="name" />
              <input type="submit" value="Search" />
            </p>
            <p>
              Search by:
              <select name="searchby">
                <option value="title">Title</option>
                <option value="author">Author</option>
              </select>
            </p>
        </form>
        <h2>Sort By:</h2>
        <button type="button">Ratings</button>
        <button type="button">Date Published</button>
    </div>
    <div class="search-results-div">
        <div class="book-container">
            results go here
          </div>
    </div>
  </body>
</html>
