<html>
  <style>
    body {
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <body>
    <div class="header-div">
        <h1>My Profile</h1>
        <p><a href="/">Back to Homepage</a></p>
    </div>
    <div class="user-info-div">
        <h2>My Information</h2>

    </div>
    <div class="user-collections-div">
        <h2>My Collections</h2>
        <div>
            {% for n in collectiondata %}
            <div><a href="/collection">{{n}}</a></div>
            {% endfor %}
        </div>
    </div>
    <div class="recent-reviews-div">
        <h2>My Recent Reviews</h2>
    </div>
  </body>
</html>
